<%- include("partials/header"); -%>


<h1 style="margin-bottom: 2rem; "> <strong><%=postTitle%></strong>  </h1>
<hr style="border-bottom: dotted 0.3rem">
<p><%-postContent%></p>

<%- include("partials/footer"); -%>
